<template lang="pug">
.article-main
  // sn widget
  .social-networks-widget
      a.sn-link(v-for="(sn, index) in socialNetworks" :key="index" :href="sn.link")
        img(:src="sn.logo" :alt='sn.name')

  b-container.article-title_container(fluid)
    b-row.article-title_row
        a(href="/")
          img.back-button(src="@/assets/back.png" alt="Back")

        b-col.article-title.my-auto
          article-title {{ title }}

  //- b-container.article-pic_container(fluid)
  //-   b-container 
  //-     b-row.article-pic_row(cols="12")
  //-       b-col.article-pic
  //-         img.article-pic_img(:src="uri + article.pic.url", alt="")
  //-     b-row(cols="12")
  //-       b-col.article-text
  //-         p {{ article.description }}
    
  b-container
    b-row.article-row 
      b-col(sm="8" lg="8" cols="12")
        img.article-pic(:src="uri + article.pic.url", alt="")
        p.article-text {{ article.text }}

      b-col(sm="4" lg="4" cols="12")
        p.ra-title RELATED ARTICLES

        b-list-group
          b-list-group-item(
            button
            v-for="(ra, index) in relatedArticles" 
            :key="index"
            @click="loadArticle(ra.title)"
          ) {{ ra.title }}
      
         
</template>

<script>
export default {
  title: "Article",

  data() {
    return {
      uri: "https://api.vladmaleev.com",
      news: [],
      socialNetworks: [
        {
          name: "Facebook",
          link: "http://facebook.com",
          logo: require("@/assets/fb.svg")
        },
        {
          name: "Instagram",
          link: "http://instagram.com",
          logo: require("@/assets/ig.svg")
        },
        {
          name: "Twitter",
          link: "http://twitter.com",
          logo: require("@/assets/tw.svg")
        }
      ]
    };
  },
  methods: {
    loadArticle(title) {
      let newTitle = title.replace(/\s+/g, "-").toLowerCase();

      this.$router.push("/article/" + newTitle);
    }
  },
  computed: {
    title() {
      let newTitle = this.$route.params.title.replace(/-/g, " ");

      return newTitle.charAt(0).toUpperCase() + newTitle.slice(1);
    },
    article() {
      return this.news.find(item => item.title == this.title);
    },
    relatedArticles() {
      let filteredArticles = this.news.filter(item => item.title != this.title)

      filteredArticles.length = Math.min(filteredArticles.length, 3)

      return filteredArticles
    }
  },
  mounted() {
    fetch("https://api.vladmaleev.com/news")
      .then(r => r.json())
      .then(res => (this.news = res));
  }
};
</script>

<style scoped lang="stylus">
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Roboto+Condensed:wght@300;400;500;60;700&family=Roboto+Slab:wght@300;400;500&display=swap');
@import '../styles/article.styl';
@import '../styles/media-queries.styl';
</style>