<template lang="pug">
#main
  //modal form
  //- b-modal(id="contact-form" hide-footer hide-header) 
  //-   ContactForm(:email="email")
          
  //background video

  .background
    video.hero-background-video(autoplay muted loop)
      source(src="@/assets/hero-background-video.mp4" type="video/mp4")

  // navbar
  b-navbar.navbar-container.bg-black(toggleable="lg" fixed="top")
   b-container
    b-navbar-brand(href="#home")
      img.navbar_brand-logo(src="@/assets/logo_2.svg" alt="SAVAGE DAMAGE")
      
    

    b-navbar-toggle.bg-light(target="nav-collapse")

    b-collapse#nav-collapse(is-nav)
      b-navbar-nav.ml-auto
        b-nav-item(v-for="(navItem, index) in $i18n.messages[$i18n.locale].navItems" :href="navItem.link" :key="index")
          .navbar-item() {{ navItem.name }}

        b-form-select(v-model="$i18n.locale" :options="options" variant="outline-dark" size="sm")
      
    //- <div class="contact-button" v-b-modal.contact-form>Contact us</div>

    //- <b-modal id="contact-form" hide-footer hide-header>
    //-   <ContactForm :email="email"/>
    //- </b-modal>

  //sn widget
  
  .social-networks-widget
      a.sn-link(v-for="(sn, index) in socialNetworks" :key="index" :href="'http://' + sn.link")
            img(:src="sn.name === 'Facebook' ? require('@/assets/fb.svg') : sn.name === 'Instagram' ? require('@/assets/ig.svg') : sn.name === 'Youtube' ? require('@/assets/yt.svg') : ''" :alt="sn.name")

  //hero layout

  b-container.hero-layout#home
    //- <a name="home"></a> 
    b-row
      b-col(sm="6")
        h1.hero-title {{ $t('footer.contactUs') === 'Contact Us' ? hero.title : hero.title_rus === "" ? hero.title : hero.title_rus }}
        br
        h1.second-title {{ $t('footer.contactUs') === 'Contact Us' ? hero.subtitle : hero.subtitle_rus === "" ? hero.subtitle : hero.subtitle_rus }}
        br
        br
        p.info {{ $t('footer.contactUs') === 'Contact Us' ? hero.info : hero.info_rus === "" ? hero.info : hero.info_rus }}

        b-button.button(variant="outline-dark" :href="$i18n.messages[$i18n.locale].navItems[2].link") {{ $t('strings.more') }} 

        //- p(style="color: #fff") {{ $i18n.messages[$i18n.locale].navItems }}

      b-col.player-container(sm="6")
        //- div
        //-   b-spinner(type="grow" label="Loading...")
  
        iframe(
          allow="autoplay *; encrypted-media *;" 
          style="width:100%;max-width:660px;overflow:hidden;background:transparent;" 
          sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation   allow-top-navigation-by-user-activation" 
          :src="releases[0].link" 
          height="450" 
          frameborder="0"
        )

  //news 
  

  .news-background-container(v-show="isDataLoaded && isNewsLoaded")#news
    b-container.news-background(fluid)
    
    b-container.news-container
      b-row
        b-col 
          h1.section-title {{ $i18n.messages[$i18n.locale].navItems[1].name }}
    
      b-row(cols="4")
        b-col(v-for="(latestNew, index) in latestNews" :key="index" lg="4" md="6" cols="12")
          b-card.new-card(
              tag="article"
              @click="loadArticle(latestNew.title)"
            )
              b-card-img.new-card_image(
                :src="uri + latestNew.pic.url" alt="Image"
              )
              b-card-title.new-card_title {{ latestNew.title }}
              b-card-text {{ latestNew.text }}  
            
  //releases
  
  b-container.releases-container#releases(v-show="isDataLoaded && isNewsLoaded" fluid)
    b-container
      b-row
        b-col
          h1.section-title {{ $i18n.messages[$i18n.locale].navItems[2].name }}

      b-row
        b-col.release-card-container(sm="6" cols="12" v-for="(release, index) in releases" :key="index") 
          iframe(
            @load="onDataLoaded" 
            allow="autoplay *; encrypted-media *;" 
            style="width:100%;max-width:660px;height:100%;overflow:hidden;background:transparent;" 
            sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" 
            height="450" 
            frameborder="0"
            :src="release.link"
          )

  //about and contact

  .about-background-container#about(fluid) 
    //- <a name="about"></a>
    b-container.about-container
      b-row
        b-col
          h1.section-title {{ $i18n.messages[$i18n.locale].navItems[3].name }}

      b-row 
        b-col(sm="6" cols="12")

          p.info {{ $t('footer.contactUs') === 'Contact Us' ? contact.info : contact.info_rus === "" ? contact.info : contact.info_rus  }} 
          
          b-form(@submit="onSubmit" @reset="onReset" v-if="show").input-form
            b-form-group.input-title#input-group-2(:label="$t('contactForm[0].name')" label-for="input-2")
              b-form-input#input-1(
                v-model="form.name"
                required
                :placeholder="$t('contactForm[0].placeholder')"
              )

            b-form-group.input-title#input-group-1(
              :label="$t('contactForm[1].email')"
              label-for="input-1"
            )
              b-form-input#input-1(
                v-model="form.email"
                type="email"
                required
                :placeholder="$t('contactForm[1].placeholder')"
              )

            b-button.button(type="submit" variant="outline-dark")  {{ $t('contactForm[2].submit') }}
            b-button.button(type="reset" variant="outline-danger") {{ $t('contactForm[2].reset')  }}

            .thanks-text(v-if="showThanks") {{ $t('strings.thanks') }}

        b-col(sm="6" cols="12")
          img.band-photo(:src="uri + contact.picture.url" alt="")

  // footer

  b-container.footer-container(fluid)
    b-container
      b-row.footer-container_row
        b-col.footer-logo_container(cols='12' sm='3')
          a(href="#")
            img(src='@/assets/logo_2.svg' alt="SAVAGE DAMAGE")
        b-col(cols='12' sm='3')
          ul.footer-links
            li.footer-links_title {{ $t('footer.menu') }}
            li(v-for="(navItem, index) in $i18n.messages[$i18n.locale].navItems" :key="index") 
              a(:href="navItem.link") {{ navItem.name }}
        b-col(cols='12' sm='3')
          ul.footer-links
            li.footer-links_title {{ $t('footer.contactUs') }} 
            //- li {{ $t('footer.location') }} 
            li {{ $t('footer.contactUs') === 'Contact Us' ? contact.address : contact.address_rus }}
            li {{ contact.email }}
        b-col(cols='12' sm='3')
          //- b-input-group
          //-   b-form-input(v-model='email' :placeholder="form.email")
          //-   b-input-group-append
          //-     b-button.contact-us-button(text='Contact us' v-b-modal.contact-form) Contact us
          //- .sn-icons_container
          a.sn-links(v-for="(sn, index) in socialNetworks" :key="index" :href="'http://' + sn.link")
            img(:src="sn.name === 'Facebook' ? require('@/assets/fb.svg') : sn.name === 'Instagram' ? require('@/assets/ig.svg') : sn.name === 'Youtube' ? require('@/assets/yt.svg') : ''" :alt="sn.name")

          //- a.sn-links(:href="socialNetworks[1].link")
          //-   img(src="@/assets/ig.svg" :alt="socialNetworks[1].name")

          //- a.sn-links(:href="socialNetworks[2].link")
          //-   img(src="@/assets/tw.svg" :alt="socialNetworks[2].name")

      hr
      b-row.footer-bottom
        b-col
          .footer-copyright {{ copyright }}
        //- b-col(cols="6")
        //-   a.footer-links_terms-privacy(href='' cols="6") Terms of use
        //-   a.footer-links_terms-privacy(href='' cols="6") Privacy Policy
// footer  


</template>

<script>
import axios from "axios"

export default {
  title: "Savage Damage Band",

  name: "Main",
  data() {
    return {
      uri: "https://api.vladmaleev.com",
      hero: [],
      releases: [],
      latestNews: [],
      form: {
        email: "",
        name: ""
      },
      show: true,
      socialNetworks: [
        {
          name: "Facebook",
          link: "http://facebook.com",
          logo: require("@/assets/fb.svg")
        },
        {
          name: "Instagram",
          link: "http://instagram.com",
          logo: require("@/assets/ig.svg")
        },
        {
          name: "Twitter",
          link: "http://twitter.com",
          logo: require("@/assets/tw.svg")
        }
      ],
      contact: {},
      copyright: '',
      isDataLoaded: false,
      isNewsLoaded: false,
      showThanks: false,
      localeSwitcher: "eng",
      options: [
        { value: 'en', text: 'eng' },
        { value: 'ru', text: 'rus' },
      ]
    };
  },
  watch: {
    localeSwitcher() {
      switch (this.localeSwitcher) {
        case "eng":
          this.navItems = this.engLocale.navItems
          this.more = "More music"

          break;
        case "rus":
          this.navItems = this.rusLocale.navItems
          this.more = "Слушать больше"

          break;

        default:
          break;
      }
    },
  },
  methods: {
    fetchData() {
      fetch(this.uri + "/hero")
      .then(r => r.json())
      .then(res => (this.hero = res))

      fetch(this.uri + "/releases")
      .then(r => r.json())
      .then(res => (this.releases = res))

      fetch(this.uri + "/news")
      .then(r => r.json())
      .then(res => (this.latestNews = res))
      .then(() => (this.isNewsLoaded = true))

      fetch(this.uri + "/social-networks")
      .then(r => r.json())
      .then(res => (this.socialNetworks = res))

      fetch(this.uri + "/copyright")
      .then(r => r.json())
      .then(res => (this.copyright = res.copyright))

      fetch(this.uri + "/contact")
      .then(r => r.json())
      .then(res => (this.contact = res))
      
    },
    onSubmit(evt) {
      evt.preventDefault();
      this.registerNewUser();

      this.form.email = "";
      this.form.name = "";

      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });

      this.showThanks = true
      // this.form.email = ''
      // this.form.name = ''
    },
    onReset(evt) {
      evt.preventDefault();
      // Reset our form values
      this.form.email = "";
      this.form.name = "";
      // this.form.food = null
      // this.form.checked = []
      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    },
    registerNewUser() {
      axios
        .post(this.uri + "/auth/local/register", {
          username: this.form.name,
          email: this.form.email,
          password: "test"
        })
        .then(response => {
          // Handle success.
          console.log("Well done!");
          console.log("User profile", response.data.user);
          console.log("User token", response.data.jwt);
        })
        .catch(error => {
          // Handle error.
          console.log("An error occurred:", error);
        });
    },
    loadArticle(title) {
      let newTitle = title.replace(/\s+/g, "-").toLowerCase();

      this.$router.push("/article/" + newTitle);
    },
    onDataLoaded() {
      this.isDataLoaded = true;
    },
    expandNew() {
      var dots = document.getElementById("dots");
      var moreText = document.getElementById("more");
      var btnText = document.getElementById("read-more-button");

      if (dots.style.display === "none") {
        dots.style.display = "inline";
        btnText.innerHTML = "Read more";
        moreText.style.display = "none";
      } else {
        dots.style.display = "none";
        btnText.innerHTML = "Read less";
        moreText.style.display = "inline";
      }
    }
  },
  mounted() {
    this.fetchData()
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="stylus">
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Roboto+Condensed:wght@300;400&family=Roboto+Slab:wght@300;400;500&display=swap');
// main
@import '../styles/main';
// hero
@import '../styles/hero';
// news
@import '../styles/news';
// releases
@import '../styles/releases';
// about-and-contact
@import '../styles/about-and-contact';
// footer
@import '../styles/footer';
// media queries
@import '../styles/media-queries';
</style>
