//about and contact

.about-background-container
  display flex
  align-items center
  width 100%
  // min-height 550px
  // background-image url("../assets/about-background.jpg")
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url("../assets/about-background.jpg");
  background-position center
  background-size cover
  background-repeat no-repeat
  height 100vh

  .info
    margin-top 20px

  .input-form
    margin-top 50px

  .button
    margin-bottom 70px
  
.input-title
  color #fff

.thanks-text
  color #fff
  font-size 24px

.band-photo 
  width 100%
  border-radius 10px

    