//social networks widget
.social-networks-widget
  position fixed
  top 45vh
  right 0
  z-index 2000
  background-color #000000
  padding 5px
  border-radius 10px 0px 0px 10px 
//   border 1px solid #fff

.sn-link
  display block

  & img
    width 35px
    margin 5px 0

// title

.article-main
    min-height 100vh
    background-color #282828
    font-family Roboto Condensed

.article-title_container 
    font-family Metal Mania
    text-align center
    height 10vh
    background-color #000000
    color: #ffffff
    // border-bottom 1px solid #fff
    border-radius 0 0 20px 20px

.article-title_row
    height 100%
    position relative

.article-title
    font-size 2.5rem

.back-button
    width 50px
    position absolute
    top 15%
    left 50px
    z-index 10

// article

.article-row 
    padding 30px 0 100px 0

.article-pic
    max-height 50vh
    // max-width 100%
    border-radius 20px
    margin-bottom 30px

.article-text 
    width 150%
    white-space pre-line
    color #ffffff

.ra-title
    font-weight bold
    color #ffffff
