//footer

.footer-container 
	background #282828
.footer-container_row 
	padding-top 60px
.footer-logo_container 
	& > a img 
		// padding-left 65px
		width 120px
.footer-links 
	padding-left 0
	li  
		&:not(.footer-links_title)
			list-style none
			margin-left 0
			font-style normal
			font-weight normal
			font-size 14px
			line-height 21px
			color #ffffff
			opacity 0.7
			padding-bottom 12px
			cursor pointer
			& a
				text-decoration none
				color #fff
				&:hover
					opacity 0.5
.input-group 
	padding-right 65px
.contact-us-button 
	background-color #fe7325
	border-color #fe7325
.sn-icons_container 
	margin-top 35px
	img 
		margin-right 20px
		cursor pointer
.footer-links_title 
	list-style none
	font-style normal
	font-weight bold
	font-size 14px
	line-height 21px
	color #ffffff
	margin-bottom 20px
.footer-bottom 
	background #282828
	text-align center
.footer-copyright 
	font-style normal
	font-weight normal
	font-size 12px
	line-height 18px
	color #ffffff
	opacity 0.7
.footer-links_terms-privacy 
	font-style normal
	font-weight normal
	font-size 12px
	line-height 18px
	text-align right
	text-decoration-line underline
	color #ffffff
	opacity 0.7
	padding-right 65px

.sn-links
	margin-right 30px
	display inline-block

	& img 
		width 40px

