
//hero background

.background 
  position absolute
  width 100%
  min-height 810px
  background rgba(0, 0, 0, 0.8)
  background-size cover
  overflow hidden

.hero-background-video 
  position relative
  // background-size auto
  z-index -10
  min-width 100%
  min-height 820px

//hero layout

.hero-layout 
  display flex
  align-items center
  padding-top 80px
  height 100vh

.hero-title
  // margin 60px 0 -10px 0
  font-weight bold
  color #fff
  font-family Metal Mania
  font-size 60px
  text-transform uppercase  

.second-title 
  color #000
  text-shadow -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white
  font-family Metal Mania
  text-transform uppercase

.info
  // font-weight normal
  color #fff

.player-container 
  // padding-top 220px
  // padding-bottom 130px
  opacity 0.8

//media queries

  