#main 
  padding 0
  font-family Roboto Condensed
  font-weight 300

p 
  font-size 18px

.title 
  margin 40px 0
  font-weight bold
  color #fff
  font-family Metal Mania, Roboto Condensed

.section-title
  font-weight bold
  color #fff
  font-family Metal Mania, Roboto Condensed
  margin 70px 0 0 0

.button 
  margin 5px 20px 0 0
  padding 5px 30px
  color #fff
  border-color #fff 
  text-transform uppercase 
  font-weight 400

// navbar
.navbar-container 
  background-color #000
  min-height 50px

#nav-collapse 
  position relative
  justify-content center
  font-size 14px

.nav-item
  margin-right 30px

.navbar-item 
  color #fff
  width 100%
  text-align center
  height 25px
  

  &:hover
    border-bottom: 1px solid #fff;
    // padding-bottom 3px

.custom-select
  background rgba(0, 0, 0, 1)
  color #fff
  padding 3px
  height 30px
  

.navbar_brand-logo
  width 79px

//social networks widget
.social-networks-widget
  position fixed
  top 45vh
  right 0
  z-index 2000
  background-color #000000
  padding 5px
  border-radius 10px 0px 0px 10px 
  border 1px solid #fff

.sn-link
  display block

  & img
    width 35px
    margin 5px 0

// .navbar-light .navbar-toggler 
//   border-color #fff
//   background-color none
//   margin-top -30px

// .navbar-toggler-icon
//   background-image url("/../assets/hamburger-menu-icon.png")
