//releases

.releases-container 
  min-height 100vh
  background-color #282828

  @media screen and (max-width: 600px) 
    & > div
      padding 0

.release-card-container
  padding-top 30px
  padding-bottom 70px
  height 800px