<template lang="pug">
  #app
    router-view
</template>

<script>
import Main from "@/components/Main.vue";

export default {
  components: {
    Main
  },
};
</script>

<style lang="stylus">
  html
    scroll-behavior smooth
    height 100%

  #app, body
    padding 0
    margin 0
    min-height 100%
</style>
